node_modules
.next
out
.env
.env.local
.env*.local
*.log
.DS_Store
prisma/*.db
prisma/*.db-journal
.vercel
.idea
.vscode
prisma/stories.json
prisma/ledger.json
prisma/users.json
prisma/friendships.json
prisma/email-codes.json
android/keystore/
tsconfig.tsbuildinfo
.env*
